<div class="sidebar">
  <img class="logo" src="https://image.similarpng.com/very-thumbnail/2021/05/Colorful-circle-logo-design-illustration-on-transparent-background-PNG.png" />
  <a routerLink="/"><i class="fa fa-fw fa-home"></i></a>
  <a routerLink="/"><i class="fa fa-fw fa-wrench"></i></a>
  <a routerLink="/"><i class="fa fa-fw fa-user"></i></a>
  <a routerLink="/"><i class="fa fa-fw fa-envelope"></i></a>
</div>
<div class="main">
  <header>
    <h1>xxxxx Setting</h1>
  </header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>  
  <footer>
    <p>&copy;xxxxxxcard. All rights reserved.</p>
  </footer>
</div>
